# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BrackeysJam2021.2.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
